html,body,#wrap{height: 100%;}
        #wrap{
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-flex-flow: column;
            flex-flow: column;
        }
        #header{
            height: 56px; background-color: #e13430;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
        }
        #header div{
            text-align: center;
            -webkit-box-flex: 1; 
            -webkit-flex: 1;
            flex: 1;
        }
        #header div span{
            font-size: 12px; color: #fff; 
            display: inline-block; padding-top: 36px; 
            background-repeat: no-repeat;
            background-position: center 6px;
            -webkit-background-size: contain;
            background-size: contain;
        }
        #header .my span{
            background-image: url(image/tab_personal.png);
        }
        #header .discover span{
            background-image: url(image/tab_discovery.png);
        }
        #header .download span{
            background-image: url(image/tab_download.png);
        }
        #header .search span{
            background-image: url(image/tab_search.png);
        }
        #header .my.focus span, #header .my.active span{
            background-image: url(image/tab_personal_s.png);
        }
        #header .discover.focus span, #header .discover.active span{
            background-image: url(image/tab_discovery_s.png);
        }
        #header .download.focus span, #header .download.active span{
            background-image: url(image/tab_download_s.png);
        }
        #header .search.focus span, #header .search.active span{
            background-image: url(image/tab_search_s.png);
        }
        
        #subNav{}
        #subNav .discover{
            overflow: hidden; height: 45px; 
            position: relative; 
        }
        #subNav .hide{
            display: none;
        }
        #subNav .discover .nav{
            height: 45px; line-height: 45px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            position: absolute;
            z-index: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            display: block; white-space: nowrap; padding: 0 10px;
        }
        #subNav .discover .nav span{
            color: #8c8c8c; font-size: 13px; padding: 0 10px;
        }
        #subNav .discover .nav span.active{
            color: #e34440;
        }
        #subNav .discover em{
            width: 45px; height: 1px; position: absolute; bottom: 0;
            border-bottom: 2px solid #e13430; left: 10px;
            -webkit-transition: all .3s;
            transition: all .3s;
        }
        #subNav .discover .btn{
            display: inline-block; width: 56px; 
            height: 100%; 
            position: absolute; right: 0; top: 0; text-align: center;
            z-index: 10;
            background:#fff url(image/line_category_collapse.png) no-repeat left center;
            -webkit-background-size: contain;
            background-size: contain;
        }
        #subNav .discover .arr{
            display: inline-block; width: 26px; height: 18px;
            background:url(image/ic_collapse_category.png) no-repeat center;
            -webkit-background-size: 13px 9px;
            background-size: 13px 9px;
            border:1px solid #c6c6c6;
            border-radius: 8px; margin-top: 10px;
        }
        #subNav .discover .category{
            position: absolute; background-color: #fff; width: 100%;
            border-bottom: 1px solid #dedede; height: 44px; z-index: 20;
            overflow: hidden; opacity: 0; display: none;
            -webkit-transition: all .3s;
            transition: all .3s;
        }
        #subNav .discover .category.fadeIn{
            opacity: 1;
        }
        #subNav .discover .category h3{
            margin-left: 20px; line-height: 44px;
            font-size: 14px; color: #8d8d8d; float: left; width: 5em;
        }
        #subNav .discover .category .order{
            font-size: 12px; color: #e13632; padding: 4px 10px; line-height: 1;
            border-radius: 10px; border: 1px solid #f6c2c0;
            margin-top: 10px; margin-right: 10px;
        }
        #subNav .discover .category span{
            float: right;
        }

        #subNav .discover .category .btn{
            background-image: none; position: static;
        }
        #subNav .discover .category .arr{
            background-image: none; line-height: 1;
        }
        #subNav .discover .category .arr:before{
            display: inline-block; content: '';
            width: 13px; height: 9px;
            background:url(image/ic_collapse_category.png) no-repeat center;
            -webkit-background-size: contain;
            background-size: contain;
            -webkit-transition: all .3s;
            transition: all .3s;
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        #subNav .discover .category .arr.up:before{
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
        #subNav .download{
            position: relative; height: 44px; line-height: 44px;
            border-bottom: 1px solid #dedede;
        }
        #subNav .download span{
            display:inline-block; width: 50%; text-align: center;
            position: relative; font-size: 13px; color: #272930;
        }
        #subNav .download .active, #subNav .download .focus{
            color: #e13632;
        }
        #subNav .download em{
            position: absolute; bottom: -1px; left: 0;
            -webkit-transition: all .2s;
            transition: all .2s;
            width: 50%; height: 1px; border-bottom: 2px solid #e13430;
        }
        #subNav .download.toggle em{
            left: 50%;
        }
        #subNav .download span.first:after{
            content: ""; display: inline-block; height: 14px; width: 1px;
            border-right: 1px solid #ddd;
            position: absolute; right: 0; top: 50%; margin-top: -7px;
        }
        #subNav .search{
            padding: 10px 0 0;
        }
        #subNav .search span{
            color: #8e8e93; position: relative;
            background: url(image/search_zoom.png) no-repeat 16px center;
            -webkit-background-size: 19px 19px;
            background-size: 19px 19px;
            margin: 0 auto 10px; width: 90%; display: block; font-size: 13px;
            background-color: #e0e0e0; border-radius: 6px; 
            padding: 10px 20px 10px 40px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        #subNav .search .record{
            position: absolute; right: 20px; top: 8px;
            display: inline-block; width: 12px; height: 18px;
            background:url(image/voice_logo_microphone.png) no-repeat;
            -webkit-background-size: contain;
            background-size: contain;
        }
        #subNav .search .list{
            padding:10px 20px; border-top: 1px solid #ddd; overflow: hidden;
        }
        #subNav .search .list em{
            font-size: 13px; color: #97989a;
        }
        #subNav .search .rank{
            float: left;
        }
        #subNav .search .hot{
            float: right;
        }
        #main{
            -webkit-box-flex: 1; 
            -webkit-flex: 1;
            flex: 1;
        }
        #miniplayer{
            height: 56px;
        }